# Copy to backend.hcl and fill in real values
# Usage: terraform init -backend-config=backend.hcl

bucket         = "myorg-terraform-state"
key            = "hotelapp/prod/terraform.tfstate"
region         = "ap-south-1"
dynamodb_table = "terraform-locks"
encrypt        = true
